@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #303030;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.main-content{
    flex: 1 0;
}

.logoNav{
    width: 150px;
    display: flex;
    margin: 20px auto;
}

.welcome-phrase{
    color: #fff;
    text-align: center;
}

.categorias-menu{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 800px;
    margin-top: 20px;
}

.categorias-menu li{
    list-style: none;
    border: solid 2px #fdc50a;
    margin: 10px auto;
    flex: 0 0 200px;
    border-radius: 20px;
    transition: 0.5s;
    height: 125px;
    max-width: 231px;
}

.categorias-menu li a{
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-right: 40px;
    margin-top: -10px;
}

.categorias-menu li a img{
    width: 150px;
}

.categorias-menu li a span{
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    color: #fff;
    font-weight: bold;
    transition: 0.5s;
}

ul li:hover{
    background-color: #fdc50a;
}

ul li:hover a span{
    color: brown;
}

footer{
    background-color: #fdc50a; 
    width: 100%; 
    height: 60px;
}

footer a{
    text-decoration: none;
}

.social-media{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.social-media img{
    margin: 10px 0;
    width: 40px;
}

.social-media p{
    margin: 20px 0;
    margin-left: 10px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 600;
    letter-spacing: 1.1px;
    color: rgb(82, 6, 6);
}

/*Página de Categorias*/

.container-content{
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: space-evenly;
}

.nome-categ{
    text-align: center;
    color: #fff;
    margin: 20px 0;
}

.container{
    background-color: #fff;
    width: 800px;
    margin: 0 auto;
}

.container-produto{
    border: solid 1px #000;
    max-width: 800px;
    height: 125px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20px 1fr 25px;
    overflow: hidden;
}

.nome-prod{
    grid-column: 2/4;
    /* text-align: center; */
}

.img-prod{
    justify-self: center;
    align-self: center;
    grid-column: 1/2;
    grid-row: 1/3;
    max-height: 60px;
    /* max-width: 100px; */
    overflow: hidden;
}

.desc-prod{
    grid-column: 2/4;
    justify-self: center;
    max-height: 60px;
    overflow: hidden;
}

.qtd-prod{
    justify-self: center;
    align-self: center;
    padding: 2px 5px;
}

.valor-prod{
    justify-self: center;
    align-self: center;
}

.pedir-prod{
    justify-self: center;
    align-self: center;
    padding: 2px 6px;
}

.sacola{
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    width: 350px;
    margin: 0 20px;
    padding-bottom: 20px;
}

.sacola > p:nth-child(1) {
    background-color: #fdc50a;
    padding: 15px 0;
    border-radius: 5px 5px 0 0px;
    font-weight: bolder;
    color: rgb(70, 3, 3);
    text-transform: capitalize;
}

.sacola .lista-pedidos{
    /* text-align: left; */
    margin: 10px 20px;
}

.sacola .lista-pedidos p{
    margin-top: 5px;
}

.sacola hr{
    display: flex;
    margin: 10px auto;
    width: 80%;
}

.sacola .sacola-valores div,
.sacola .sacola-detalhes div{
    display: flex;
    margin: 10px 10px;
    justify-content: space-between;
}

.sacola > p:nth-child(5){
    padding-top: 10px;
    font-weight: bolder;
    background-color: #c7c7c7;
}

.sacola-detalhes{
    background-color: #c7c7c7;
    padding: 10px 0;
}

.sacola-editarDetalhes{
    color: red;
    margin: 10px 10px;
    text-transform: capitalize;
    cursor: pointer;
}

.sacola select,
.sacola button{
    display: flex;
    margin: 0 auto;
    padding: 10px;
}

.sacola button{
    background-color: #fdc50a;
    color: rgb(56, 4, 4);
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    text-transform: capitalize;
    font-weight: 800;
}

.lista-pedidos div{
    display: flex;
    justify-content: space-between;
}

/*Menu Mobile*/

.rodape-menu{
    background-color: #fdc50a;
    display: none;
}

.nav__link{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    flex-grow: 1;
    min-width: 55px;
    margin-top: 10px;
    color: rgb(80, 4, 4);
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
}

/*Modal*/

.modal-container,
.modal-container-cliente{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,.5);
    z-index: 200;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.mostrar,
.modal-container-cliente.mostrar{
    display: flex;
}

.modal,
.modal-cliente-dentro{
    background-color: #fff;
    border: solid 4px #fdc50a;
    position: relative;
    height: 80%;
    width: 60%;
    min-width: 340px;
    padding: 40px;
    overflow-y: scroll;
}

.modal-cliente-dentro{
    width: 340px;
    padding: 10px;
}

.modal h3{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.fechar-modal,
.fechar-modal-cliente{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: solid 1px #fff;
    color: red;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
}

.imagemModal{
    max-width: 100%;
    border-radius: 7px;
    display: flex;
    margin: 0 auto;
}

#descricaoModal{
    text-align: center;
    margin: 15px 0;
}

.mostra-molhos{
    display: flex;
    margin: 20px auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.mostra-molhos label{
    margin: 5px;
}

.intro-molhos p{
    font-size: 0.9em;
    text-align: center;
}

.modal-btn{
    display: flex;
    margin: 0 auto;
    background-color: #fdc50a;
    color: rgb(56, 4, 4);
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    text-transform: capitalize;
    font-weight: 800;
}

.modal textarea{
    display: flex;
    margin: 0 auto;
}

/*Inputs Modal Form Cliente*/

.modal-cliente-dentro input,
.modal-cliente-dentro select#bairro{
    display: flex;
    margin: 4px 0;
    padding: 4px;
}

.modal-cliente-dentro input#cel,
.modal-cliente-dentro input#cep{
    width: 100px;
}

.modal-cliente-dentro input#rua{
    display: inline;
    /* margin-left: 27px; */
    width: 180px;
    /* text-align: center; */
}

.modal-cliente-dentro input#nr{
    margin-left: 3px;
    width: 40px;
    text-align: center;
}

.modal-cliente-dentro input.lado{
    /* margin-left: 27px; */
    display: inline;
}

@media(max-width: 1060px){
    .sacola{
        display: none;
    }

    .rodape-menu{
        display: flex;
        margin-top: 20px;
        height: 60px;
    }

    .imagemModal{
        max-width: 250px;
    }
}